@define-color background-color #eeeeee;
@define-color border-color #0087af;   /* blue border */
@define-color label #444444;
@define-color image #444444;
@define-color progress #005f87;       /* cyan-like progress */
