@define-color selected-text #0087af;   /* blue accent */
@define-color text #444444;
@define-color base #eeeeee;
@define-color border #0087af;          /* blue border */
@define-color foreground #444444;
@define-color background #eeeeee;
